<div class="container">
  <h2>Восстановление доступа в личный кабинет</h2>
  <form autocomplete="off" method="POST" [hidden]="!passwordChangeFormVisible">
    {{username}} , введите новый пароль для Вашего личного кабинета. <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="password-span">Пароль</span>
      </div>
      <input type="password"
             class="form-control"
             name="password"
             placeholder="Введите пароль!"
             id="password"
             [(ngModel)]="password"
             aria-label="Password"
             aria-describedby="Введите пароль">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="password2-span">Пароль</span>
      </div>
      <input type="password"
             class="form-control"
             name="password2"
             placeholder="Введите пароль ещё раз!"
             id="password2"
             [(ngModel)]="password2"
             aria-label="Password"
             aria-describedby="Введите пароль ещё раз">
    </div>
    <span [hidden]="!passwordNotMatch">Пароли не совпадают</span>
    <span [hidden]="passwordNotMatch"></span>


    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="changePassword()">Изменить пароль</button>
  </form>

  <div [hidden]="tokenValid">
    <div align="center" style="font-size: 20px ; color: red;">{{message}}</div>
  </div>

  <div [hidden]="!messagePositive">
    <div align="center" style="font-size: 20px ; color: lightgreen;">{{message}}</div>
  </div>
</div>
