.right-sidebar {
  width: 34.5%;
  float: right;
  padding: 20px 0 60px;
  border-left: 1px solid #666;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.right-sidebar .block.b-line {
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 20px;
  padding-bottom: 40px
}

.right-sidebar .block h4 {
  color: #cf7a19
}


.block.interesting {
  padding: 20px 0
}

.block.interesting .list {
  overflow: hidden
}

.block.interesting .list li {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  margin-top: 10px
}

.block.interesting .list li:first-child {
  margin-top: 0
}

.block.interesting .list li .info {
  width: 100px;
  float: left;
  text-align: center;
  padding: 10px 20px
}

.block.interesting .list li .info span {
  display: block;
  font-family: 'Humanist-bold';
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  color: #797979
}

.block.interesting .list li .info .date {
  font-size: 60px;
  line-height: 60px;
  font-family: 'Humanist'
}

.block.interesting .list li .info .day {
  border-bottom: 1px solid #c8c8c8
}

.block.interesting .list li .title {
  width: 260px;
  height: 140px;
  padding-left: 140px
}

.block.interesting .list li .title .img {
  position: relative;
  width: 260px;
  height: 140px;
  overflow: hidden
}

.block.interesting .list li .title .img img {
  max-width: 260px
}

.block.interesting .list li .title a {
  position: absolute;
  display: table;
  top: 0;
  right: 0;
  width: 260px;
  height: 50px;
  padding: 100px 20px 15px;
  font-family: 'Humanist-bold';
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, #000 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, #000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0)
}

.block.interesting .list li .title a:hover {
  color: #cf7a19
}

.block.interesting .list li .title a span {
  display: table-cell;
  vertical-align: bottom
}


.block.last-gallery {
  margin-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  background: #f0f0f0;
  font-family: 'Humanist'
}

.block.last-gallery .list li {
  padding-top: 20px
}

.block.last-gallery .list li:first-child {
  padding-top: 0
}

.block.last-gallery .list .img {
  width: 140px;
  height: 100px;
  overflow: hidden;
  float: left
}

.block.last-gallery .list .img img {
  max-width: 140px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.block.last-gallery .list .info {
  padding-left: 160px
}

.block.last-gallery .list .info .date {
  color: #797979;
  display: block;
  padding: 3px 0 10px
}
@media (max-width: 500px) {

  .block.bill-farther .event .img {
    margin-right: 5px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .block.bill-farther .event .info {
    padding-left: 0;
  }
  ul.event-list {
    padding-left: 0;
  }
  .block.bill-month ul.event-list li .info h3 {
    padding-left: 0;
  }
  .block.bill-month ul.event-list li .info {
    width: unset;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .block.bill-farther .event .info .tickets {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

  }
  .block.bill-farther .event .info .tickets .tickets-list {
    width: unset;
  }
  .block.bill-month ul.event-list li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .btn.fix-w-m {
    align-self: center;
  }
}