


.block.social .social-container {
  padding-bottom: 10px
}



.block.bill-day {
  float: none;
  padding: 20px 0
}
.block.bill-day ul {
  padding: 0;
}

.block.bill-day .clearfix {
  margin: 0 40px
}

.block.bill-day .event {
  padding: 0 0 20px 0;
  font-family: 'Humanist'
}

.block.bill-day .event .img {
  width: 120px;
  height: 170px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.block.bill-day .event .img a {
  display: block;
  width: 120px;
  height: 170px;
  /*fix img*/
  background: green;
}

.block.bill-day .event .img img {
  max-width: 120px
}

.block.bill-day .event .info {
  padding-left: 140px
}

.block.bill-day .event .info span.time {
  display: block;
  padding-bottom: 20px;
  color: #797979
}

.block.bill-day .event .info span.tickets {
  display: block
}

.block.bill-day .event .info span.tickets.alert {
  color: #e44e33
}

.block.bill-day .event .info ul.tickets {
  width: 140px
}

.block.bill-day .event .info ul.tickets li {
  width: 140px;
  color: #797979
}

.block.bill-day .event .info ul.tickets li span.price {
  float: right
}

.block.bill-farther h1 {
  padding-bottom: 20px
}

.block.bill-farther .event {
  border-bottom: 1px solid #c8c8c8;
  padding: 20px 0 30px;
  margin-bottom: 10px
}

.block.bill-farther .event .img {
  width: 120px;
  height: 170px;
  float: left;
}

.block.bill-farther .event .img a {
  display: block;
  width: 120px;
  height: 170px
}

.block.bill-farther .event .img img {
  max-width: 120px
}

.block.bill-farther .event .info {
  padding-left: 140px
}

.block.bill-farther .event .info span.date {
  font-family: 'Humanist';
  display: block;
  padding-bottom: 10px;
  color: #797979
}

.block.bill-farther .event .info h2 {
  padding-bottom: 10px
}

.block.bill-farther .event .info h2 .type {
  font-family: 'Humanist'
}

.block.bill-farther .event .info p {
  display: block;
  padding-bottom: 30px
}

.block.bill-farther .event .info .tickets {
  font-family: 'Humanist';
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.block.bill-farther .event .info .tickets h4 {
  color: #cf7a19;
  text-align: left;
  padding-bottom: 5px
}


.block.bill-farther .event .info .tickets .order-btn {
  float: right
}

.block.bill-month ul.event-list li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #c8c8c8
}

.block.bill-month ul.event-list li .order-btn {
  float: right
}

.block.bill-month ul.event-list li .info {
  font-family: 'Humanist';
  width: 450px
}

.block.bill-month ul.event-list li .info .date {
  display: block;
  padding-bottom: 10px;
  color: #797979;
  width: 120px;
  float: left;
}

.block.bill-month ul.event-list li .info h3 {
  padding: 0 0 0 140px
}

.block.bill-month ul.event-list li .info h3 .desc {
  padding-top: 0;
  color: #797979;
  display: block;
  font-family: 'Humanist'
}

.block.event-page {
  padding: 20px 100px
}

.block.event-page .tickets {
  background: #f0f0f0;
  width: 100%;
  padding: 20px 40px;
  font-family: 'Humanist';
  margin: 20px 0 40px -40px;
  position: relative
}

.block.event-page .tickets .order-btn {
  position: absolute;
  top: 50%;
  right: 40px;
  margin-top: -20px
}

.block.event-page .tickets ul.list {
  width: 260px
}

.block.event-page .tickets ul.list li span.price {
  float: right
}

.block.event-page .tickets ul.list .no {
  color: #b0b0b0
}







.block.menu-page ul.menu-list {
  padding-bottom: 30px !important
}

.block.menu-page ul.menu-list span.price {
  float: right
}

.block.menu-page ul.menu-list span.title {
  display: inline-block;
  max-width: 500px
}




.form .row {
  padding-top: 10px
}

.form .row.short .text-field {
  width: 225px
}

.form .row span.title {
  float: left;
  color: #5c5c5c;
  line-height: 40px
}

.form .row .text-field {
  padding-left: 130px
}

.form .row.divider {
  padding: 15px 0
}

.block.success-page {
  text-align: center
}

.block.about-page .img-list {
  border-bottom: 1px solid #c8c8c8
}

.block.about-page .img-list h3 {
  color: #797979 !important
}

.block.club-map {
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 40px
}

.block.club-map .map {
  overflow: hidden;
  width: 320px;
  margin-bottom: 20px
}

.block.club-map .map img {
  max-width: 320px
}

.block.info-page h3 {
  color: #797979
}

.block.info-page p {
  display: block;
  padding-bottom: 10px
}

.block.info-page p i {
  font-family: 'Baskervilleit'
}

.block.info-page p.quote {
  font-family: 'Baskervilleit';
  font-size: 20px;
  line-height: 30px;
  color: #cf7a19;
  padding: 30px;
  text-align: center
}

.block.info-page .media-box {
  padding: 40px 0
}

.media-box iframe {
  margin-bottom: 20px;
}

.block.info-page .media-box img {
  max-width: 677px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.block.info-page .btn-bar {
  padding-top: 30px
}

.block.info-page ul.info-list {
  padding-bottom: 20px
}

.block.info-page ul.info-list li {
  display: block;
  padding-bottom: 10px
}

.block.info-page .img-list {
  margin-bottom: 40px
}

.block.info-page .img-list li {
  padding: 40px 0;
  border-top: 1px solid #c8c8c8
}

.block.info-page .img-list li:first-child {
  border-top: 0
}

.block.info-page .img-list li.r-list .img {
  float: right
}

.block.info-page .img-list li.r-list .info {
  padding: 0 260px 0 0
}

.block.info-page .img-list li .img {
  float: left;
  width: 220px;
  height: 220px
}

.block.info-page .img-list li .img img {
  max-width: 220px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.block.info-page .img-list li .info {
  padding-left: 260px
}

.block.info-page .img-list li .info h3 {
  color: #cf7a19
}
/* fix image */
.block.bill-farther .event .img a {
  background-color: green;
}
/* fix image */
@media (max-width: 500px) {
  .block.bill-farther .event .info {
    padding-left: unset;
  }
  .block.bill-farther .event .img {
    float: unset;
  }
  .block.bill-day .event .img {
    float: unset;
  }
}