@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*dl-date-time-picker*/
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

@font-face {
  font-family: 'Humanist';
  src: url('/assets/fonts/Humanist.ttf');
}
@font-face {
  font-family: 'Baskervilleit';
  src: url('/assets/fonts/Baskervilleit.ttf');
}
@font-face {
  font-family: 'Humanist-bold';
  src: url('/assets/fonts/Humanist-bold.ttf');
}
@font-face {
  font-family: 'Baskerville';
  src: url('/assets/fonts/Baskerville.ttf');
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: 400;
}

ol, ul, li {
  list-style: none outside none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  display: block;
}

h1 i.h-line, h2 i.h-line, h3 i.h-line, h4 i.h-line, h5 i.h-line, h6 i.h-line {
  display: block;
  width: 160px;
  border-bottom: 1px solid #c8c8c8;
  margin: 10px auto 0
}

h1 .desc, h2 .desc, h3 .desc, h4 .desc, h5 .desc, h6 .desc {
  font-family: 'Humanist';
  display: block;
  color: #797979;
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px
}

h1 {
  font-family: 'Baskervilleit';
  font-size: 24px;
  line-height: 40px;
  color: #cf7a19;
  padding-bottom: 30px;
  text-align: center
}

h2 {
  font-family: 'Humanist-bold';
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px
}

h3 {
  font-family: 'Humanist-bold';
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 20px
}

h4 {
  font-family: 'Humanist-bold';
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1.7px;
  text-align: center;
  padding-bottom: 15px
}

a {
  text-decoration: none;
  outline: 0;
  color: #000
}

a:hover {
  color: #cf7a19
}

.clearfix {
  clear: both
}

.hidden {
  display: none
}

.no-p-b {
  padding-bottom: 0 !important
}

.n-p-t {
  padding-top: 0 !important
}

input {
  -webkit-appearance: none !important
}

.btn {
  display: inline-block;
  font-family: 'Humanist';
  font-size: 15px;
  cursor: pointer;
  padding: 0 25px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  background: #4a90e2;
  color: #fff;
  text-align: center;
  min-width: 120px;
  border: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.btn:hover {
  background: #cf7a19;
  color: #fff
}

.btn.disabled {
  cursor: default;
  background: #f0f0f0
}

.btn.fix-w-m {
  padding: 0 10px;
}

body {
  color: #333;
  background: #fff;
  font-family: 'Baskerville';
  font-size: 16px;
  line-height: 20px;
  position: relative
}

.container {
  max-width: 1160px;
  margin: 0 auto
}

.content-wrapper {
  border-right: 1px solid #666;
  border-left: 1px solid #666
}

.content-wrapper.no-sidebar .main-content {
  width: 100%;
  border: 0
}

.content-wrapper.no-sidebar .right-sidebar {
  display: none
}

.main-content {
  width: 65.5%;
  padding: 20px 0 60px;
  float: left
}

.block {
  padding: 10px
}

.order-btn-face {
  -ms-align-self: flex-end;
  align-self: flex-end;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .order-btn-face {
    align-self: center;
  }
}

.text-align-right {
  text-align: right;
}
