<h2>Правила заказа столика</h2>
<p>Выберите событие и места за столиком.</p>
<p>В появившейся вкладке меню закажите требуемые позиции</p>
<p>Получите 10% скидку на кухню за заказ оналайн и оплатите заказ.</p>
<p>Заказ, оплаченный на сайте Вы можете получить в клубе РеПаблик, по адресу г. Минск ул. Притыцкого, д. 62.</p>
<p>По всем вопросам можете писать в <a routerLink="/feedback">службу поддержки клиентов</a></p>
<p>Для получения заказа Вы заполняете все поля формы, в данном разделе : список позиций меню и информацию о себе</p>
<p>После этого переходите на страницу оплаты и оплачиваете заказ. Получая скидку в 10%, по сравнению с обычным заказом в клубе.</p>
<hr>
<div *ngFor="let categoryMain of menuCategories">
  <h1>
    {{categoryMain.name}}<i class="h-line"></i><span class="desc">{{categoryMain.description}}</span>
  </h1>
  <div *ngFor="let category of categoryMain.categories">
    <h3>{{category.name}}</h3>
    <ul class="info-list menu-list">
      <li *ngFor="let item of category.menuItems">
        <span class="title">
          <b>{{item.name}}</b><br>
          <i>{{item.description}}</i><br>
          {{item.descriptionProportions}}<br>
          <b>{{item.price}} BYN</b>
        </span>
      </li>
    </ul>
  </div>
</div>
