<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">FeedBack message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="email/fragments/header :: header">HEADER</div>
<h1>Отзыв №
    <div class="customer-value" th:text="${feedback.id}"></div>
</h1>
<div class="mt-1"><h3>Имя </h3></div>
<p class="customer-value" th:text="${feedback.name}"/>
<div class="mt-1"><h3>Email </h3></div>
<p class="customer-value" th:text="${feedback.email}"/>
<div class="mt-1"><h3>Номер мобильного </h3></div>
<p class="customer-value" th:text="${feedback.phone}"/>
<div class="mt-1"><h3>Текст сообщения </h3></div>
<p class="customer-value" th:text="${feedback.description}"/>

<div th:replace="email/fragments/footer :: footer">FOOTER</div>
</body>
</html>
