<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="email/fragments/header :: header">HEADER</div>
<h1>
    <a th:href="@{'https://republic-club.by/order/' + ${order.uuid}}">
        ЗАКАЗ №
        <div class="customer-value" th:text="${order.id}"></div>
    </a>

</h1>
<div class="mt-1"><h3>Имя и фамилия</h3></div>
<p class="customer-value" th:text="${order.name}"/>
<p class="customer-value" th:text="${order.surname}"/>
<div class="mt-1"><h3>Email </h3></div>
<p class="customer-value" th:text="${order.email}"/>
<div class="mt-1"><h3>Номер мобильного </h3></div>
<p class="customer-value" th:text="${order.phone}"/>
<div class="mt-1"><h3>Ориентировочное время прибытия </h3></div>
<p class="customer-value" th:text="${order.arrivalTime}"/>
<div class="mt-1"><h3>Гостей </h3></div>
<p class="customer-value" th:text="${order.people}"/>
<div class="mt-1"><h3>Заказ </h3></div>
<ul th:remove="all-but-first">
    <li th:each="itemPricesHasOrder : ${food}">
        <p th:text="${itemPricesHasOrder.getItemPrice().getItem().getName()}"/>
        <p th:text="${itemPricesHasOrder.getItemPrice().getItem().getDescription()}"/>
        <p th:text="${itemPricesHasOrder.getItemPrice().getItem().getDescriptionProportions()}"/>
        <p th:text="${itemPricesHasOrder.getItemPrice().getValue().intValue()}"/>
        <p th:text="${itemPricesHasOrder.getCount()}"/>
        <hr>
    </li>
</ul>

<div class="mt-1"><h3>Код депозита </h3></div>
TODO generateqrCode
<div class="mt-1"><h3>Столик </h3></div>
<p class="customer-value" th:text="${order.tableNumber}"/>
<div class="mt-1"><h3>комментарий к заказу </h3></div>
<p class="customer-value" th:text="${order.description}"/>

<div th:replace="email/fragments/footer :: footer">FOOTER</div>
</body>
</html>
