<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recover password message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="email/fragments/header :: header">HEADER</div>
Доброго дня, ${name}, вечно юный друг! <br>
Кто-то запросил изменение пароля для твоей учетной записи, если это был ты, то переходи по ссылке, иначе - проигнорируй.<br>
Cсылка действительна в течении 24 часов.<br>
<button th:align="center">
    <a th:href="@{${domain} + '/user/password/restore/' + ${token}}">
        Cсылка для восстановления пароля.
    </a>
</button>


<div th:replace="email/fragments/footer :: footer">FOOTER</div>
</body>
</html>
