<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Sing in message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="email/fragments/header :: header">HEADER</div>
<h2>
    Здравствуйте, <div class="customer-value" th:text="${username}"></div>!
</h2>
<br>
Спасибо за регистрацию на нашем сайте, пожалуйста подтвердите её.<br>

<a th:href="@{${siteUrl} + '/api/user/confirm/' + ${code}}">
    Перейдите по этой ссылке.
</a>

<div th:replace="email/fragments/footer :: footer">FOOTER</div>
</body>
</html>
